* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.CDtitle {
  width: 100%;
  padding: 20px 0;
  text-align: center;
}
.CDredBg {
  background-color: red;
}

.CDblueBg {
  background-color: blue;
}

h2 {
  color: red;
}
p{
  background-color:yellow;
}